// _variables.scss
$font-family: "Poppins", sans-serif;
$background-color: #6c757d66;
$font-weight: 500;
$header-background: #eee8e8;
$navbar-active-color: #dbd5d5;
$navbar-brand-color:#e7e7e7;
$footer-background: #eee8e8;
$navbar-toggler-color: #dbcb37;
$navbar-toggler-background: #e5e48766;
$card-bg: #6c757d66;
$carousel-img-height: 375px;
