// _variables.scss
$font-family: "Poppins", sans-serif;
$background-color: #F9F9E0;
$font-weight: 500;
$header-background: #FF9EAA;
$navbar-active-color: #FFD0D0;
$navbar-brand-color:#3AA6B9;
$footer-background: #FF9EAA;
$navbar-toggler-color: #dbcb37;
$navbar-toggler-background: #e5e48766;
$card-bg: #6c757d66;
$carousel-img-height: 375px;
