// _navbar.scss
.navbar {
    --bs-navbar-active-color: $navbar-active-color;
    --bs-navbar-brand-color: $navbar-brand-color;
  }
  
  .navbar-toggler {
    color: rgb(230, 69, 181);
    background-color: pink;
  }
  